body {
    background-image: url(images/bg-wool-dark.png);
}

h1 {
    color: rgb(0 0 0);
    font-size: 59px;
    margin-left: 23px;
    border-radius: 33%;
    background: grey;
    font-family: monospace;
    font-style: normal;
}

.p{
max-width: 108%;
}

.header {
    background-image: url(images/header2.PNG);
    margin-top: auto;
    display: flex;
    justify-content: center;
    max-height: 152px;
    max-width: auto;
}

.txt {
    margin-left: 3%;
    font-size: 120%;
    font-family: cursive;
}

.text {
    margin-left: 3%;
    font-size: 120%;
    font-family: cursive;
}

.title {
    margin-left: 3%;
    font-size: 170%;
    font-family: cursive;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.wrapper1 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 700px;
    max-width: 1502px;
}

.wrapper2 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 3250px;
    max-width: 1502px;
}

.wrapper3 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 1550px;
    max-width: 1502px;
}

.wrapper4 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 450px;
    max-width: 1502px;
}

.wrapper5 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 450px;
    max-width: 1502px;
}

.wrapper6 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 450px;
    max-width: 1502px;
}

.wrapper7 {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    max-height: 1345px;
    max-width: 1502px;
}

.wrapper8 {
    background-color: whitesmoke;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50%;
    height: 854px;
    max-width: 1502px;
    padding-right: 15%;
}

.sprut {
    max-width: 5%;
    margin-top: 4%;
}

.all_sprut {
    display: flex;
    justify-content: center;
}

.tool {
    max-width: 2%;
    height: 47px;
}

.book {
    max-width: 3%;
}

.ztextz {
    padding-top: 2%;
}

.punkt {
    padding-top: 2%;
    font-family: fantasy;
}

.punkt2 {
    font-family: fantasy;
}

.bron {
    max-width: 3%;
    max-height: 52px;
}

.all {
    max-width: 3%;
}

.topbutton {
    max-width: 38px;
    max-height: 38px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.downbutton {
    max-width: 38px;
    max-height: 38px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
}

.button {
    background: white;
    max-width: 7%;
    max-height: 15%;
    border-radius: 100%;
}
