body {
    background-image: url(images/bg-wool-dark.png);
    background-position: center;
    background-attachment: fixed;
    background-size: 1565px;
}

.error-txt {
    padding-left: 35%;
    padding-top: 8.5%;
    font-size: 300%;
    font-family: cursive;
}

.error-txt2 {
    padding-left: 35%;
    padding-top: 1%;
    font-size: 200%;
    font-family: cursive;
}

.error-txt3 {
    padding-left: 35%;
    padding-top: 1%;
    font-size: 150%;
    font-family: cursive;
}

.error-img {
    padding-top: 5%;
    padding-left: 50%;
}

.back {
    padding-left: 36%;
    font-family: cursive;
    font-size: 115%;
}

.block {
    padding-right: 15%;
}
